.App {
  text-align: center;
}

.sections {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

